.shift-signup {
  padding-bottom: 10rem;
}

.shift-signup-links {
  display: flex;
}

.shift-detail {
  margin-top: 3rem;
margin-left: 2rem;
border-left: solid 1px rgb(113, 19, 103);
border-bottom: solid 1px rgb(113, 19, 103);
padding-left: 2rem;
padding-bottom: 2rem;
width: fit-content;
}


.signup-form-date {
  color: rgb(113, 19, 103);
  font-size: 2rem;
}

.signup-form-fridge {
  color: rgb(113, 19, 103);
  font-weight: 600;
}

.shift-detail h3 {
  border-top: solid 1px rgb(113, 19, 103);
  margin-top: 1rem;
  padding-top: 2rem;
}

.shift-signup-form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin-left: 2rem;
}

.shift-detail-submit {
  width: fit-content
}

.shift-detail-meal-number {
  display: flex;
  padding-bottom: 1rem;
}

@media (max-width: 500px) {
  .shift-signup-form {
    margin: 0;
  }

  .shift-detail-meal-number {
    flex-direction: column;
  }
  .shift-detail-meal-number-note {
    margin: .5rem 0;
  }
}

.shift-detail-meal-number-note {
  font-size: .8rem;
}

